.leftSidebar {
  width: 500px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  padding: 1rem;
}
.storedData {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}